#  Copyright (C) 2018-2019  SEIKO EPSON CORPORATION
#
#  License: GPL-3.0+
#  Author : SEIKO EPSON CORPORATION
#
#  This file is part of the 'Epson Scan 2' package.
#  This package is free software: you can redistribute it and/or modify
#  it under the terms of the GNU General Public License as published by
#  the Free Software Foundation, either version 3 of the License or, at
#  your option, any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#  You ought to have received a copy of the GNU General Public License
#  along with this package.  If not, see <http://www.gnu.org/licenses/>.
ACTION!="add", GOTO="epsonscan2_esci_rules_end"
ENV{DEVTYPE}!="usb_device", GOTO="epsonscan2_esci_rules_end"
ATTR{idVendor}!="04b8", GOTO="epsonscan2_esci_rules_end"

LABEL="epsonscan2_esci_rules_begin"

ATTRS{idProduct}=="0129", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="012b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="012c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0130", ENV{epsonscan2_driver}="esci", ENV{firmware_file}="esfw7c.bin"
ATTRS{idProduct}=="0133", ENV{epsonscan2_driver}="esci", ENV{firmware_file}="esfw86.bin"
ATTRS{idProduct}=="0135", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0136", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0137", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0138", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="013a", ENV{epsonscan2_driver}="esci", ENV{firmware_file}="esfwa1.bin"
ATTRS{idProduct}=="013b", ENV{epsonscan2_driver}="esci", ENV{firmware_file}="esfweb.bin"
ATTRS{idProduct}=="013c", ENV{epsonscan2_driver}="esci", ENV{firmware_file}="esfw010c.bin"
ATTRS{idProduct}=="013c", ENV{epsonscan2_driver}="esci", ENV{firmware_file}="esfw010c.bin"
ATTRS{idProduct}=="013d", ENV{epsonscan2_driver}="esci", ENV{firmware_file}="esfw010c.bin"
ATTRS{idProduct}=="013e", ENV{epsonscan2_driver}="esci", ENV{firmware_file}="esfw0282.bin"
ATTRS{idProduct}=="013f", ENV{epsonscan2_driver}="esci", ENV{firmware_file}="esfw0282.bin"
ATTRS{idProduct}=="0142", ENV{epsonscan2_driver}="esci", ENV{firmware_file}="esfwad.bin"
ATTRS{idProduct}=="0143", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0144", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0145", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0146", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0147", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="014a", ENV{epsonscan2_driver}="esci", ENV{firmware_file}="esfwdd.bin"
ATTRS{idProduct}=="014b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="014c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="014d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0150", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0151", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0152", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0153", ENV{epsonscan2_driver}="esci", ENV{firmware_file}="esfw0111.bin"
ATTRS{idProduct}=="0154", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0155", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0156", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0157", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0159", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="015a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="015b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="015c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="015d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="015e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="015f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0160", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0162", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0163", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0164", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0165", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0166", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0167", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0168", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0169", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="016b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="016c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="016d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="016e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="016f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0170", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0171", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0172", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0173", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0176", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0177", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0178", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0179", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="017a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="017b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="017c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="017d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="017e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="017f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0180", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0181", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0182", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0183", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0184", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0185", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0186", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0187", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0188", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0189", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="018a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="018b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="018c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="018d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="018e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="018f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0190", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0191", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0192", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0193", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0194", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0195", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0197", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0198", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0199", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="019a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="019b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0869", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0879", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="087b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="087c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="087d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="0899", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08a5", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08a9", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08aa", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08ac", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08ad", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08ae", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08af", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08b0", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08b3", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08b4", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08b5", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08b6", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08b7", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08b8", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08b9", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08bc", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08bd", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08be", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08bf", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08c0", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08c1", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08c2", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08c3", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08c4", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08c5", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08c6", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08c7", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08c8", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08c9", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08ca", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08cc", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08cd", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08ce", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08cf", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08d0", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08d1", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08d2", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="08d3", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1101", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1102", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1103", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1104", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1105", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1106", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1107", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1108", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1109", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="110a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="110b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="110c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="110d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="110f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1111", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1112", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1113", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1114", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1115", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1116", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1117", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1118", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1119", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="111a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="111b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="111c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="111d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="111e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="111f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1120", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1121", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1122", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1123", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1125", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1126", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1127", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1128", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1129", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="112a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="112b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="112c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="112d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="112e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="112f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1130", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1131", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1132", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1133", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1134", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1135", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1136", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1137", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1138", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1139", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="113a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="113b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="113c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="113d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="113e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="113f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1140", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1141", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1142", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1143", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1145", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1146", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1147", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1148", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1149", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="114a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="114b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="114c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="114d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="114e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="114f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1150", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1151", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1152", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1153", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1154", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1155", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1156", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1157", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1158", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1159", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="115a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="115b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="115c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="115d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="115e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="115f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1160", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1161", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1162", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1163", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1164", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1165", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1166", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1167", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1168", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1169", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="116a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="116c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="116d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="116e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="116f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1170", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1171", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1172", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1173", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1174", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1175", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1176", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1177", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="117a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="117b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="117c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="117d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="117e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="117f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1180", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1181", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1182", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1183", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1184", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1185", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1186", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1187", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1188", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1189", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="118a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="118b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="118c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="118d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="118e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="118f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1190", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1191", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1192", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1193", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1194", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1195", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1196", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1197", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1198", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1199", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="119a", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="119b", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="119c", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="119d", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="119e", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="119f", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11a0", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11a1", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11a2", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11a3", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11a4", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11a5", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11a6", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11a7", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11a8", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11a9", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11aa", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11ab", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11ac", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11ad", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11ae", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11af", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11b0", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11b1", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11b2", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11b3", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11b4", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11b5", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11b6", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11b7", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11b8", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11b9", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11ba", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11bb", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11bc", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11bd", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11be", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11bf", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11c0", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11c1", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11c2", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11c3", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11c4", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11c5", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11c6", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11c7", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11c8", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11c9", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11ca", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11cb", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11cc", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11cd", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11ce", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11cf", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11d0", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11d1", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11d2", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11d3", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11d4", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11d5", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11d6", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11d7", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11d8", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="11d9", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1401", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1402", ENV{epsonscan2_driver}="esci"
ATTRS{idProduct}=="1403", ENV{epsonscan2_driver}="esci"

#  Give scanner users read/write permissions on the device.
ENV{epsonscan2_driver}=="esci*", MODE="0666", OWNER="root", GROUP="root"

#  Device detection by libepsonscan2 depends on libsane_matched being set.
ENV{epsonscan2_driver}=="esci*", ENV{libsane_matched}="yes"

LABEL="epsonscan2_esci_rules_end"
